<div class="dashboard">
<h1 class="dashboard-header">Hello {{userName}} 👋</h1>

<div class="salesPage">
  {{#if product}}
  <h2 class="salesHeader">Items You Own</h2>
  <section class="container">
    {{#each product}}
        {{#if forSale}}
        {{else}}
            {{>productCard}}
            <a href="sellItem/{{id}}">
              <button>Sell this!</button>
            </a>
          </div>
        {{/if}}
    {{/each}}
    </section>

    <h2 class="salesHeader">Items You Currently Have For Sale</h2>
    <section class="container">
    {{#each product}}
        {{#if forSale}}
          {{>productCard}}
            <a href="sellItem/{{id}}">
              <button>Change Price</button>
            </a>
          </div>
        {{/if}}
    {{/each}}
    </section>
  {{else}}
    <h2>You have no products to sell</h2>
  {{/if}}
 
</div> 

</div>
{{!-- user info and maybe the products the they own --}}

{{!-- purchase history if we have the time --}}