<div class="dashboard">
<h1 class="dashboard-header">Hello {{userName}} 👋</h1>

<div class="salesPage">
  <h2 class="salesHeader">Items You Own</h2>
  {{#if product}}
  <section class="container">
    {{#each product}}
        {{#if forSale}}
        {{else}}
            {{>productCard}}
            <a href="sellItem/{{id}}">
            <button class="chart">Sell Item</button></a>
            <a href="" data-id="{{id}}">
              <button id="removeBtn" class="removeBtn chart">Withdraw Item</button></a>
          </div>
        {{/if}}
    {{/each}}
    </section>
  {{else}}
  <p class="salesText">You currently have no items.</p>
  {{/if}}

  <h2 class="salesHeader">Items You Currently Have For Sale</h2>
  {{#if product}}
    <section class="container">
    {{#each product}}
        {{#if forSale}}
          {{>productCard}}
            <a href="sellItem/{{id}}">
              <button class="chart">Edit Listing</button></a>
              {{!-- <a href="" data-id="{{id}}">
              <button hidden="true" id="unsellBtn" class="chart">Unsell Item</button></a> --}}
          </div>
        {{/if}}
    {{/each}}
    <a class="nav-image" id="wallet" href="/sell">➕</a>
    </section>
   {{else}}
  <p class="salesText">You currently have no items for sale.
    <br>
    <a class="nav-image" id="wallet" href="/sell">➕</a>
  </p>
  {{/if}}
</div> 
</div>
<script src="/javaScript/delete.js"></script>

