<input type="hidden" id="product_id" name="product_id" value="{{product.id}}">
<input type="hidden" id="user_credits" name="user_credits" value="{{userWallet.credits}}">
<input type="hidden" id="cost" name="cost" value="{{product.cost}}">
<input type="hidden" id="productOwner" name="productOwner" value="{{product.user_id}}">
<article class="productCard">
  {{> productBuy}}
  {{#if (enough_credits userWallet.credits product.cost)}}
    <button id="buyBtn">Buy it</button>
  {{else}}
    <p>Not enough money</p>
    <a href="/wallet"></a>
  {{/if}}
</article>
<script src="/javascript/buy.js"></script>